body{
    background-color: rgb(251, 236, 236);
}





img{
    margin-top: 1%;
    margin-left: 10%;
    border-radius: 100%;
    border-style:hidden;
}


.carousel {
    margin: 0 auto;
    width: 80%; /* Ajusta según sea necesario */
  }

  .carousel-item img {
    margin: 0 auto;
    display: block;
}

  

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
    flex-wrap: wrap; /* Permite que las tarjetas se acomoden en líneas si la pantalla es pequeña */
}

.card {
    flex: 1 1 300px; /* Las tarjetas ocupan el mismo ancho y son flexibles */
    max-width: 350px; /* Ancho máximo para evitar que ocupen toda la pantalla */
    min-width: 280px; /* Ancho mínimo para asegurar que sean responsive */
    margin: 10px; /* Margen adicional para evitar que se peguen al borde */
    overflow: hidden; /* Evita que el contenido se desborde de la tarjeta */
    border-radius: 8px; /* Opcional: agrega bordes redondeados a las tarjetas */
}

.card-body{
    background-color: rgb(178, 164, 205);
}

.card:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0); /* Opcional: agrega una sombra suave */
}

.card-img-top {
    width: 75%;
    height: 30%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor sin deformarse */
    display: block; /* Asegura que la imagen se comporte como un bloque y no como un inline-block */
}

.card-title {
    text-align: center;
    font-family: cursive;
}

.card-text {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 10%;
    text-align: center; /* Centra el texto dentro de la tarjeta */
}

@media (max-width: 768px) {
    .card {
        max-width: 100%; /* Las tarjetas ocupan todo el ancho disponible en pantallas pequeñas */
    }
}

.list-group{
    text-align: center;
}



#contacto{
    font-size: large;
    margin: 2%;
    text-align-last: center;
}
  
  .logos {
    size: 15%;

  }
  

a:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
  color: rgb(255, 251, 0);
}